header {
  background-color: #292929;
  height: 64px;
  display: block;
  top: 0px;
  position: sticky;
  z-index: 1;
  outline: thick solid #212121;
  min-width: 360px;
  max-width: 480px;
  margin: 0 0;
}
#VALDEV {
  color: orangered;
  font-size: 28px;
  margin: 0;
  display: block;
  margin: 0 auto;

  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  background: -webkit-linear-gradient(
    left,
    orange,
    orangered,
    rgb(236, 48, 104)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.navigation {
  list-style-type: none;
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.navItem {
  display: inline-block;
  padding: 2px;
}

#navItem1,
#navItem2,
#navItem3,
#navItem4,
#navItem5 {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
  header {
    max-width: 752px;
  }
  .navItem {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
  header {
    max-width: none;
    height: 100px;
  }
  #VALDEV {
    font-size: 44px;
  }
  .navItem {
    font-size: 25px;
    padding-inline: 20px;
  }
}
