#sectionHome {
  background-color: #292929;
  display: block;
  height: 28.125rem;
  margin: 0.625rem auto;
  max-width: 30rem;
  min-width: 22.5rem;
}

#homeItem1 {
  margin: 0 auto;
  font-size: 1.875rem;
  color: white;
  font-weight: lighter;
  width: fit-content;
  padding: 0.9375rem;
  grid-area: homeItem1;
}

#homeItem2 {
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    left,
    orange,
    orangered,
    rgb(236, 48, 104)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 0 auto;
  padding: 0.9375rem;
  grid-area: homeItem2;
}

#homeItem3 {
  font-size: 1rem;
  background: -webkit-linear-gradient(
    top left,
    orange,
    orangered,
    rgb(236, 48, 104)
  );
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: center;
  line-height: 2.8125rem;
  height: 2.8125rem;
  width: 7.5rem;
  display: block;
  margin: 0.9375rem auto;
  border-radius: 0.25rem;
  grid-area: homeItem3;
}

#homeItem4 {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 11.25rem;
  padding-top: 0.625rem;
  grid-area: homeItem4;
}

.homeGrid {
  grid-area: homeGrid;
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 48rem) {
  #sectionHome {
    display: grid;
    grid-template-areas: "homeGrid homeItem4";
    height: 15.625rem;
    max-width: 47rem;
  }
  .homeGrid {
    margin: auto auto;
    align-items: center;
  }
  #homeItem1 {
    margin: auto;
    padding: 0;
  }
  #homeItem2 {
    margin: auto;
  }
  #homeItem3 {
    margin: auto;
    margin-top: 0.3125rem;
  }
  #homeItem4 {
    padding: 0;
    margin: auto;
  }
}

/* 1024px - 1200px = desktop */
@media (min-width: 64rem) {
  #sectionHome {
    max-width: none;
    height: 21.25rem;
    justify-content: center;
    grid-template-columns: minmax(34.625rem, 48.125rem) minmax(
        28.375rem,
        39.375rem
      );
  }
  #homeItem1 {
    font-size: 2.8125rem;
  }
  #homeItem2 {
    font-size: 3.4375rem;
    padding-bottom: 1.5625rem;
  }
  #homeItem3 {
    width: 11.5625rem;
    height: 3.5rem;
    font-size: 1.25rem;
    text-align: center;
    line-height: 3.125rem;
  }
  #homeItem4 {
    width: 18.75rem;
  }
}
