#sectionHome {
  background-color: #292929;
  display: block;
  height: 450px;
  margin: 10px 0;
  max-width: 480px;
  min-width: 360px;
}

#homeItem1 {
  margin: 0 auto;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  width: fit-content;
  padding: 15px;
  grid-area: homeItem1;
}
#homeItem2 {
  display: block;
  font-weight: bold;
  font-size: 40px;
  background: -webkit-linear-gradient(
    left,
    orange,
    orangered,
    rgb(236, 48, 104)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 0 auto;
  padding: 15px;
  grid-area: homeItem2;
}
#homeItem3 {
  font-size: 1em;
  background: -webkit-linear-gradient(
    top left,
    orange,
    orangered,
    rgb(236, 48, 104)
  );
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: center;
  line-height: 45px;
  height: 45px;
  width: 120px;
  display: block;
  margin: 15px auto;
  border-radius: 4px;
  grid-area: homeItem3;
}
#homeItem4 {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 180px;
  padding-top: 10px;
  grid-area: homeItem4;
}

.homeGrid {
  grid-area: homeGrid;
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
  #sectionHome {
    display: grid;
    grid-template-areas: "homeGrid homeItem4";
    height: 250px;
    max-width: 752px;
  }
  .homeGrid {
    margin: auto auto;
    align-items: center;
  }
  #homeItem1 {
    margin: auto;
    padding: 0;
  }
  #homeItem2 {
    margin: auto;
  }
  #homeItem3 {
    margin: auto;
    margin-top: 5px;
  }
  #homeItem4 {
    padding: 0;
    margin: auto;
  }
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
  #sectionHome {
    max-width: none;
    height: 340px;
    justify-content: center;
    grid-template-columns: minmax(554px, 770px) minmax(454px, 630px);
  }
  #homeItem1 {
    font-size: 45px;
  }
  #homeItem2 {
    font-size: 55px;
    padding-bottom: 25px;
  }
  #homeItem3 {
    width: 185px;
    height: 56px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
  }
  #homeItem4 {
    width: 300px;
  }
}
