#sectionAbout {
  margin: 10px auto;
  height: fit-content;
  background-color: #292929;
}
#aboutItem1 {
}

#aboutItem2 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin: 0 auto;
}
#devText {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 0 auto;
}
#aboutItem3 {
  width: 340px;
  color: white;
  margin: 0 auto;
  font-weight: lighter;
  word-break: break-word;
  padding-top: 20px;
}

#aboutItem4 {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
}
