#sectionPortfolio {
  background-color: #292929;
  display: block;
  height: fit-content;
  margin: 0.625rem auto;
  min-width: 22.5rem;
  max-width: 30rem;
}

#portfolioItem3,
#portfolioItem4,
#portfolioItem5 {
  width: 6rem;
  display: block;
}

.portNavigation {
  list-style-type: none;
  color: white;
  font-size: 0.8125rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1.875rem;
}

.portImages {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgLinks {
  display: block;
  width: fit-content;
}

.progress {
  position: relative;
  top: -1.5625rem;
  width: 6rem;
  display: block;
}

.portNavItem {
  display: inline-block;
  padding: 0;
}

#portNavItem1,
#portNavItem2,
#portNavItem3,
#portNavItem4,
#portNavItem5 {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 48rem) {
  #sectionPortfolio {
    max-width: 47rem;
  }
  .portNavItem {
    font-size: 1.25rem;
    padding-inline: 0.3125rem;
  }
  .portImages {
    width: 32.5rem;
  }

  #portfolioItem3,
  #portfolioItem4,
  #portfolioItem5 {
    width: 9.375rem;
    display: block;
  }
  .progress {
    position: relative;
    top: -1.5625rem;
    width: 9.375rem;
    display: block;
  }
}

/* 1024px - 1200px = desktop */
@media (min-width: 64rem) {
  #sectionPortfolio {
    max-width: none;
    height: 30rem;
    justify-content: center;
    grid-template-columns: minmax(34.625rem, 48.125rem) minmax(
        28.375rem,
        39.375rem
      );
  }
  .portNavigation {
  }
  .portNavItem {
    font-size: 1.5rem;
    padding-inline: 0.625rem;
  }
  .portImages {
    width: 53.125rem;
  }
  #portfolioItem3,
  #portfolioItem4,
  #portfolioItem5 {
    width: 15.625rem;
    display: block;
  }
  .progress {
    position: relative;
    top: -4rem;
    width: 15.625rem;
    display: block;
  }
}
