#sectionPortfolio {
  background-color: #292929;
  display: block;
  height: 350px;
  margin: 10px auto;
}

#portfolioItem2 {
}
#portfolioItem3,
#portfolioItem4,
#portfolioItem5 {
  width: 96px;

  display: block;
}

.portNavigation {
  list-style-type: none;
  color: white;
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.portImages {
  margin: 0 auto;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgLinks {
  display: block;
  width: fit-content;
}

.progress {
  position: relative;
  top: -25px;
  width: 96px;
  display: block;
}

.portNavItem {
  display: inline-block;
  padding: 0px;
}
#portNavItem1,
#portNavItem2,
#portNavItem3,
#portNavItem4,
#portNavItem5 {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
