*,
*::before,
*::after {
  box-sizing: border-box;
}

#sectionContact {
  background-color: #292929;
  display: block;
  height: 34.375rem;
  margin: 0.625rem auto;
  min-width: 22.5rem;
  max-width: 30rem;
}

.contactGrid {
  display: grid;
  grid-template-areas: "contactItem2 contactRS";
}

#contactItem2 {
  grid-area: contactItem2;
  width: fit-content;
  margin: 0 auto;
  margin-right: 0.625rem;
}

.contactRS {
  grid-area: contactRS;
  padding-top: 1.25rem;
  padding-left: 0.625rem;
  width: fit-content;
}

#contactItem3 img,
#contactItem4 img,
#contactItem5 img {
  display: inline-block;
  width: 1.875rem;
  margin: 0 auto;
}

#contactItem3,
#contactItem4,
#contactItem5 {
  height: fit-content;
  padding-top: 1.25rem;
}

#emailItem,
#gitItem {
  display: inline-block;
  font-weight: lighter;
}

.contactp1 {
  margin: 0;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
}

.contactp2 {
  margin: 0;
  color: white;
  font-size: 0.625rem;
  font-weight: lighter;
  display: block;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
  text-decoration: none;
}

#linkedinItem {
  font-weight: lighter;
}

.iconAndLink {
  display: inline-block;
}

.icon {
  position: relative;
  top: 0.5625rem;
}

.link {
  height: 1.875rem;
  position: relative;
}

/* Formulário style */
#field2 span {
  width: 40px;
  height: 19px;
}
#field3 textarea {
  height: 168px;
  word-wrap: break-word;
  word-break: break-all;
}
#field3 span {
  width: 132px;
}
.formContact {
  display: block;
}
.custom-field {
  font-size: 12px;
  position: relative;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease,
    background-color 0.3s ease;
}
.custom-field input {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid gray;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #292929;
  padding: 12px;
  border-radius: 7px;
  width: 160px;
  font-size: 12px;
  height: 40px;
  outline: none;
  color: white;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: -8px;
  font-size: 11px;
  color: gray;
  text-align: center;
  background-color: #292929;
}

.custom-field textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid gray;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #292929;
  padding: 12px;
  border-radius: 7px;
  width: 160px;
  font-size: 12px;
  outline: none;
  color: white;
}
.custom-field textarea:valid + .placeholder,
.custom-field textarea:focus + .placeholder {
  top: -8px;
  font-size: 11px;
  color: gray;
  text-align: center;
  background-color: #292929;
}
.placeholder {
  position: absolute;
  left: 14px;
  top: 11px;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
  width: 45px;
  text-align: center;
  font-size: 12px;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease, left 3s ease,
    background-color 0.3s ease;
}

#contactItem2 button {
  margin-left: 10px;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: white;
  background: gray;
}

#contactItem2Message {
  color: white;
  font-weight: lighter;
  padding-left: 4px;
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
  #sectionContact {
    max-width: 752px;
  }
  .contactGrid {
    margin: 0 auto;

    width: 550px;
  }
  #contactItem2 {
    margin: 0 auto;
  }
  .contactRS {
    margin: 0 auto;
  }
  .custom-field input,
  .custom-field textarea {
    width: 230px;
  }
  #contactItem2Message {
    font-size: 20px;
  }
  #contactItem2 button {
    width: 100px;
    height: 50px;
  }
  .icon {
    width: 40px;
  }
  .contactp1 {
    font-size: 22px;
  }
  .contactp2 {
    font-size: 14px;
  }
}
/* 768px - 1024px = telas menores, laptops */
@media (min-width: 48rem) {
  #sectionContact {
    max-width: 47rem;
  }
  .contactGrid {
    margin: 0 auto;
    width: 34.375rem;
  }
  #contactItem2 {
    margin: 0 auto;
  }
  .contactRS {
    margin: 0 auto;
  }
  .custom-field input,
  .custom-field textarea {
    width: 14.375rem;
  }
  #contactItem2Message {
    font-size: 1.25rem;
  }
  #contactItem2 button {
    width: 6.25rem;
    height: 3.125rem;
  }
  .icon {
    width: 2.5rem;
  }
  .contactp1 {
    font-size: 1.375rem;
  }
  .contactp2 {
    font-size: 0.875rem;
  }
}

/* 1024px - 1200px = desktop */
@media (min-width: 64rem) {
  #sectionContact {
    max-width: none;
  }
  #contactItem2Message {
    font-size: 1.75rem;
  }
  .contactGrid {
    width: 62.5rem;
  }
  .custom-field input,
  .custom-field textarea {
    width: 23.75rem;
  }

  .contactp1 {
    font-size: 1.875rem;
    position: relative;
    top: -0.25rem;
  }
  .contactp2 {
    font-size: 1.25rem;
  }
  #contactItem3 img,
  #contactItem4 img,
  #contactItem5 img {
    display: inline-block;
    width: 3.125rem;
    margin: 0 auto;
  }
}
