@import url("../css/1header.css");
@import url("../css/2Inicio.css");
@import url("../css/3sobre.css");
@import url("../css/4portfolio.css");
@import url("../css/5contatos.css");
@import url("../Css/footer.css");
body {
  background-color: #212121;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  color: orange;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}
