@import url("../css/1header.css");
@import url("../css/2Inicio.css");
@import url("../css/3sobre.css");
@import url("../css/4portfolio.css");
@import url("../css/5contatos.css");
@import url("../Css/footer.css");

body {
  background-color: #212121;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 16px; /* Assuming a base font size of 16px */
}

nav {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: orange;
  text-align: center;
  font-size: 1.5625rem; /* 25px / 16px */
  padding: 0.9375rem; /* 15px / 16px */
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
  h2 {
    font-size: 2.25rem; /* 36px / 16px */
  }
}
